@import "dropzone";
@import "select2";

#blog-post-content {
    min-height: 400px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}

.post-component-row {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #cccccc;
    list-style: none;

    > .component-handle {
      width: 30px;
      float: left;
    }
    > .component-handle > i {
      font-size: 18px;
      color: #aaa;
      cursor: ns-resize;
    }
    > .component-content {
      float: left;
      width: calc(100% - 35px);
    }
}

.post-component {
    min-height: 200px;
    margin-bottom: 20px;
}

.tag-search {
    width:100%;
}
ul.post-components {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;
    }
}

div.post-component-item {
    position: relative;

    > .post-component-item-controls {
        position: absolute;
        top: 0;
        right: 0;
        width: 38px;
    }
    > .post-component-item-controls > button,
    > .post-component-item-controls > span {
        width: 38px;
        height: 38px;
        margin-bottom: 10px;
    }
    > .post-component-item-controls > span.item-reorder {
        cursor: ns-resize;
    }
    > .post-component-item-widget {
        width: calc(100% - 48px);
    }
}

.fade-overlay {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    border: 3px dashed #cccccc;

    :after {
        content: '';
        height: 100px;
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 1%, rgba(255,255,255,0) 2%, rgba(255,255,255,1) 87%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,0)), color-stop(2%,rgba(255,255,255,0)), color-stop(87%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 2%,rgba(255,255,255,1) 87%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 2%,rgba(255,255,255,1) 87%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 2%,rgba(255,255,255,1) 87%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 2%,rgba(255,255,255,1) 87%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
}

.options-toggle {
    display: block;
    line-height: 23px;

    > i {
      line-height: 23px;
    }
}

.dropzone-coverImage {
    min-height: 75px !important;
    margin-bottom: 10px;
}
.post-image-preview-container > img {
    max-height: 600px;
    max-width: 100%;
}
